<nav class="navbar has-shadow is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url "timeline-view" %}">
      OneAbes
    </a>

    <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="nav_links" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Tasks
      </a>

      <a class="navbar-item">
        Clubs
      </a>

      <a class="navbar-item">
        Events
      </a>
  
      <a class="navbar-item">
        Blog
      </a>
      <div class="navbar-item has-dropdown" id="more-links">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if user.is_authenticated %}
            <a class="button is-light" href="{% url "users:profile-view" uid=request.user.uid%}">
              <strong>{{user.email}}</strong>
            </a>
            <a class="button is-primary" href="{% url 'signout-view' %}">
              <strong>Signout</strong>
            </a>
          {% else %}
            <a class="button is-primary" href="{% url 'signup-view' %}">
              Signup
            </a>
            <a class="button is-light" href="{% url 'signin-view' %}">
              Signin
            </a>
            <a class="button is-light" href="{% url 'faq-view' %}">
              FAQ
            </a>
            <a class="button is-light" href="{% url 'support-view' %}">
              Support
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
</nav>