<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    	<style type="text/css">
		#check{
			/*background: red;*/
			margin-bottom: 10px;
			text-align: center;
		}
		#check2{
			/*background: blue;*/
			margin-top: 60px;
			margin-bottom: 30px;
			padding: 20px;
			font-size: 50px;
			width: 40%;
			/*border: 2px solid black;*/
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		}
/*		#mydiv{
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
			width: 50%;
			margin: 0 auto;
		}*/
	</style>

</head>
<body>
   	<section class="hero has-background-white-ter is-fullheight">
		 {% if messages %}
			{% for message in messages %}
				<p class="help is-{{ message.tag }}">{{message}}</p>
			{% endfor %}
		{% endif %}
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class=" column is-5-tablet is-7desktop is-6-widescreen">
						<form method="POST" autocomplete="off" class="box">
							<div class="has-text-centered mb-4">
								<h3 class="title is-3">Singup</h3>
							</div>
							{% csrf_token %}
							<div class="field">
							  <label class="label is-size-5" id="test">Email</label>
							  <div class="control has-icons-left">
							  	{{form.email}}
							  	<span class="icon is-small is-left">
								   	<i class="fa fa-envelope"></i>
								</span>
							  </div>
							  {% if form.email.errors %}
								 <span class="icon-text has-text-danger">
								  <span class="icon">
								    <i class="fas fa-ban"></i>
								  </span>
								  <span>{{form.email.errors}}</span>
								</span>
							{% endif %}
							</div>

							<div class="field">
							  <label class="label is-size-5">Name</label>
							  <div class="control has-icons-left">
							  	{{form.name}}
							  	<span class="icon is-small is-left">
								   	<i class="fa fa-user"></i>
								</span>

							  </div>
							  {% if form.name.errors %}
								 <span class="icon-text has-text-danger">
								  <span class="icon">
								    <i class="fas fa-ban"></i>
								  </span>
								  <span>{{form.name.errors}}</span>
								</span>
							{% endif %}
							</div>

							<div class="field">
							  <label class="label is-size-5">Phone</label>
							  <div class="control has-icons-left">
							  	{{form.phone}}
							  	<span class="icon is-small is-left">
								   	<i class="fa fa-phone"></i>
								</span>
							  </div>
							  {% if form.phone.errors %}
								 <span class="icon-text has-text-danger">
								  <span class="icon">
								    <i class="fas fa-ban"></i>
								  </span>
								  <span>{{form.phone.errors}}</span>
								</span>
							{% endif %}
							</div>

							<div class="field">
							  <label class="label is-size-5">Addmission Number</label>
							  <div class="control has-icons-left">
							  	{{form.addmision_number}}
							  	<span class="icon is-small is-left">
								   	<i class="fa fa-user"></i>
								</span>
							  </div>
							  {% if form.addmision_number.errors %}
								 <span class="icon-text has-text-danger">
								  <span class="icon">
								    <i class="fas fa-ban"></i>
								  </span>
								  <span>{{form.addmision_number.errors}}</span>
								</span>
							{% endif %}
							</div>

							<div class="field">
							  <label class="label is-size-5">Year</label>
							  <div class="control has-icons-left">
							    <div class="select">
							      {{form.year}}
							    </div>
							    <span class="icon is-small is-left">
								   	<i class="fa fa-calendar"></i>
								</span>
							  </div>
							</div>

							<div class="field">
							  <label class="label is-size-5">Branch</label>
							  <div class="control has-icons-left">
							    <div class="select">
							      {{form.branch}}
							    </div>
							    <span class="icon is-small is-left">
								   	<i class="fa fa-book"></i>
								</span>
							  </div>
							</div>

							<div class="field">
							  <label class="label is-size-5">Password</label>
							  <div class="control has-icons-left">
							  	{{form.password}}
							  	<span class="icon is-small is-left">
							  		<i class="fa fa-lock"></i>
							  	</span>
							  </div>
							  {% if form.password.errors %}
								 <span class="icon-text has-text-danger">
								  <span class="icon">
								    <i class="fas fa-ban"></i>
								  </span>
								  <span>{{form.password.errors}}</span>
								</span>
							{% endif %}
							</div>


							<div class="field">
							  <label class="label is-size-5">Confirm Password</label>
							  <div class="control has-icons-left">
							  	{{form.confirm_password}}
							  	<span class="icon is-small is-left">
							  		<i class="fa fa-lock"></i>
							  	</span>
							  </div>
							  {% if form.confirm_password.errors %}
								 <span class="icon-text has-text-danger">
								  <span class="icon">
								    <i class="fas fa-ban"></i>
								  </span>
								  <span>{{form.confirm_password.errors}}</span>
								</span>
							{% endif %}
							</div>

							<div class="field is-grouped">
							  <div class="control">
							    <input type="submit" class="button is-link" value="Submit">
							  </div>
							  <div class="control">
							    <a class="button is-link is-light" href="{% url 'signin-view' %}">Signin</a>
							  </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
 	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
