{% extends 'base.html' %}
{% load static %}
{% block style %}
	<style type="text/css">
		#test{
			transition-duration:500ms;
			/*margin-top: 10px;*/
			margin-left: 10px;
			margin-right: 10px;

		}
		#test:hover{
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		}
		#button-style{
			transition-duration: 200ms;
		}
		#button-style:hover{
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
			/*width: 5px;*/
		}
	</style>
{% endblock style %}
{% block content %}
	<div class="has-text-centered" id="message-span">
	{% if messages %}
	    {% for message in messages %}
	      	<span class="tag is-success is-medium">
  				{{message}}
  				<button class="delete is-medium" id="delbutton"></button>
			</span>
	    {% endfor %}
  	{% endif %}
  	</div>

	<div class="section pt-0 pb-0">
		<nav class="breadcrumb has-arrow-separator">
			<ul>
				<li><a href="" class="has-text-grey">OneAbes</a></li>
				<li class="is-active"><a href="" class=" has-text-grey">timeline</a></li>
			</ul>
		</nav>
	</div>
	<section class="section">
		<div class="container">
			<div class="columns is-centered is-multiline">
				{# each column div can be sized is is-{1..7} #}
				<div class="column mt-3 is-12-mobile" id="test">
					<h1 class="title is-size-1">
						Task-1
					</h1>
					<h2 class="subtitle is-size-6">
						Task-from:<strong>Aman pandey</strong>
					</h2>
					<p><strong>Description: </strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem odio impedit, facilis ipsum aliquam distinctio voluptatibus dolor a aut, ipsa aliquid consectetur modi fugiat illo voluptas eum, minus. Eum, rem.</p><br>
					<button class="button has-shadow is-info is-outlined is-rounded" id="button-style">View</button>
					<button class="button has-shadow is-danger is-outlined is-rounded" id="button-style">Dismiss</button>

				</div>
				<div class="column mt-3 is-12-mobile" id="test">
					<h1 class="title is-size-1">
						Task-2
					</h1>
					<h2 class="subtitle is-size-6">
						Task-from:<strong>Aman pandey</strong>
					</h2>
					<p><strong>Description: </strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quis, enim at, corporis magni id. Eaque, ipsa repellat, dignissimos, autem est fuga repudiandae iusto minima exercitationem quidem adipisci magni cupiditate.</p><br>
					<button class="button has-shadow is-info is-outlined is-rounded" id="button-style">View</button>
					<button class="button has-shadow is-danger is-outlined is-rounded" id="button-style">Dismiss</button>
				</div>
				<div class="column mt-3 is-12-mobile" id="test">
					<h1 class="title is-size-1">
						Task-3
					</h1>
					<h2 class="subtitle is-size-6">
						Task-from:<strong>Aman pandey</strong>
					</h2>
					<p><strong>Description: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum optio odit, expedita dicta soluta adipisci ullam molestias esse asperiores aut dolorum et placeat consectetur eius eos repudiandae eveniet. Laborum, officia.</p><br>
					<button class="button has-shadow is-info is-outlined is-rounded" id="button-style">View</button>
					<button class="button has-shadow is-danger is-outlined is-rounded" id="button-style">Dismiss</button>
				</div>
			</div>
		</div>
	</section>

	<div class="modal">
		<div class="modal-background"></div>>
			<div class="modal-content has-background-white py-5 px-5">
				<h3 class="title mb-6">hello</h3>
			</div>
	</div>
	<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}